.popup {
  margin: 20px auto;
  position: relative;
  max-width: 1170px; }
  .popup h2 {
    font-weight: bold; }
  .popup p {
    font-size: 1.2em; }
  .popup .popup-inner {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 3%; }
    .popup .popup-inner .pop-content {
      padding-left: 3%;
      background-color: #fff; }
    .popup .popup-inner img, .popup .popup-inner .pop-content {
      float: left; }
    .popup .popup-inner img {
      width: auto; }
